@using BlueCarGpsLib.Data

@{
    ViewBag.Title = "出错啦";
}

<div class="bg">
    <div class="container" style="text-align:center; margin-top: 15%; padding: 30px; width: 500px; background:rgba(236, 240, 241, 0.9); border-radius: 6px;">
        <h1 style="font-size: 140px; color:#CF2526; font-weight:bold;">500</h1>

        <span style="font-size: 20px; color:#CF2526">服务器错误啦</span>

        <div style="margin-top: 20px;">
            <a href="/Home">
                <button class="marco-btn-danger">
                    <i class="fa fa-home"></i>
                    <span>返回首页</span>
                </button>
            </a>
        </div>
    </div>
</div>