<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BlueWTSLib.Properties.Settings.BlueWTSDbConnectionString"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=BlueWTSDb;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
        <add name="BlueWTSLib.Properties.Settings.BlueWTSConnectionString"
            connectionString="Data Source=S2\SQLSERVER2008R2;Initial Catalog=BlueWTS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>